pdfminer3
youtube_dl
git+https://github.com/ytdl-org/youtube-dl.git@master#egg=youtube_dl
streamlit
pandas
git+https://github.com/Cupcakus/pafy
plotly
pymysql
streamlit-tags
Pillow
nltk
pyresparser
spacy==2.3.5